<div class="columns is-centered">
<div class="column is-narrow">
<div class="box">
<h1 class="subtitle">{{item.name}}</h1>
<br>
{{#if (or (eq item.type 'face') (eq item.type 'decal'))}}
<img src="/asset?id={{item.id}}" width="150" height="150" onerror="this.onerror = null; this.src = '/renders/error.png'" alt="Item Image">
{{else}}
<img src="/renders/{{item.id}}.png" width="150" height="150" onerror="this.onerror = null; this.src = '/renders/error.png'" alt="Item Image">
{{/if}}
<br>
By <b>{{item.creatorName}}</b>
<br>
<b>${{item.price}}</b>
<br>
<br>
<button class="button is-dark" onclick="buyItem({{item.id}})">Buy</button>
</div>
</div>
</div>